.text-align-center{
    text-align: center;
}

.jumbotron-style{

    background-image: url("/images/cars-for-sale.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Julius Sans One', sans-serif;

    }

/*
.left-column-style{
    background-image: url("/images/bluecar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.right-column-style{
    background-image: url("/images/silvercar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/
