<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<!-- Navbar begin -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/">List/Update Employees</a></li>
                <li class="active"><a href="/">List/Update Companies</a></li>
                <!--  <li><a href="#">Projects</a></li>
                  <li><a href="#">Contact</a></li>-->
            </ul>
            -->
            <ul class="nav navbar-nav navbar-right">
                <form th:action="@{/search}" method="post">
                    <input type="text" name="search" placeholder="Enter search name" required>
                    <input type="submit" value="Submit">
                </form>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Kristyn's Wonderful World of Vehicles</h1>
        <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to
            featured content or information.</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm">
            One of three columns
        </div>
        <div class="col-sm">
            <table>
                <tr>
                    <th>Category Name</th>
                    <td>Actions</td>
                </tr>
                <tr>
                    <td th:text="${category.name}"></td>
                    <td>
                        <a th:href="@{/update/{id}(id=${category.id})}">
                            <button type="button" class="btn btn-primary">Update Category</button>
                        </a>
                        <a th:href="@{/detail/{id}(id=${category.id})}">
                            <button type="button" class="btn btn-primary">Category Details</button>
                        </a>
                        <a th:href="@{/delete/{id}(id=${category.id})}">
                            <button type="button" class="btn btn-primary">Delete Category</button>
                        </a>
                    </td>></tr>
            </table>
        </div>
        <div class="col-sm">
            One of three columns
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>